.wrapper {
  display: grid;
  grid-template-columns: 3fr 58fr 13fr 13fr 13fr;
  align-items: center;
  justify-items: center;
}

.top-nav {
  height: 27px;
  margin: 45px 120px 0px 80px;
}

.text {
  color: var(--color-text);
  font-weight: 500;
  font-family: var(--font-family-abz);
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 20px 80px 70px 75px 80px;
  }

  .top-nav {
    margin: 45px 20px 0px 40px !important;
  }

  .text {
    font-size: 16px;
    padding: 6px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    grid-template-columns: 20px 80px 75px 80px 80px;
  }

  .top-nav {
    margin: 45px 20px 0px 40px !important;
  }

  .text {
    font-size: 16px;
    padding: 6px;
  }
}