@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@100&family=Noto+Serif:wght@700&display=swap');:root {
  --font-family-abz: "ABeeZee", sans-serif;
  --font-family-lato: "Lato", sans-serif;
  --font-family-noto: "Noto Serif", serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #f8f3e9;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #2c2a2b;
  --color-subtext: #ff8a71;
}
